body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #182070;
}
.delete-note {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-note button {
  color: red;
}
	
li {
  list-style: none;
}

body {
  background-color: lightcoral;
}